

.header {
  width: 100%
}

.navbar {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  border: 5px solid black;
  
  
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: right;
  border: 2px dashed blue;
}

.list-links {
  list-style: none;
}

.nav-items {
  display: inline-block;
  margin: auto;
}

.name h2 {
  color: yellow;
}

.container {
  display: flex;
  width: auto;

}