
body {
  background-color: #263b5e;
  font-family: "Roboto Mono", monospace;
  border: 6px solid #64FFDA;
  padding-right: 250px;
  padding-left: 250px;
}

.header {
  position: sticky;
  top: 0px;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #263b5e;
}

h1 {
  font-size: 4rem;
}

.navbar {
  display: flex;

  margin-top: 15px;
  justify-content: flex-end;  
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.list-links {
  list-style: none;
}

.nav-items {
  display: inline-block;
  margin-right: 20px;
  font-size: 22px;
  color: #CCD6F6;
}



.nav-items > a{
  text-decoration: none;
  color: #A8B2D1;
}

.name h2 {
  color: #A8B2D1;
}

.container {
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.name {
  display: inline-block;
  align-content: center;
  color: #CCD6F6;
}

.headshot {
  justify-content: center;  
  margin: 75px 0 0 0;
}

.headshot > img {
  max-width: 100%;
  height: auto;
}

#portfolio {
  margin-top: 50px;
  text-align: center;
}

#portfolio > h3 {
  color: #CCD6F6;
  font-size: 25px;
}

.port-1st {
  position: relative;
}

.port-1st-label {
  position: absolute;
  bottom: 10%;
  left: 25%;
  background-color: #263b5e;
  border: 2px solid #64FFDA;
}

.port-1st-title {
  color: #CCD6F6;
  font-size: 20px;
}

.port-1st-stack {
  color: #A8B2D1;
}

.port-1st > img {
  display: block;
  text-align: center;
  max-width: 60%;
  height: auto;
  margin: auto;
  margin-top: 25px;
}

#about > h3 {
  color: #CCD6F6;
  font-size: 25px;
  text-align: center;
}
#contact > h3 {
  color: #CCD6F6;
  font-size: 25px;
  text-align: center;
}
.contact-list {
  display: flex;
  justify-content: space-between;
}