
body {
  background-color: #263b5e;
  font-family: "Roboto Mono", monospace;
}

.header {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 4rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;  
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: right;
}

.list-links {
  list-style: none;
}

.nav-items {
  display: inline-block;
  margin-right: 20px;
  font-size: 22px;
  color: #CCD6F6;
}



.nav-items > a{
  text-decoration: none;
  color: #A8B2D1;
}

.name h2 {
  color: #A8B2D1;
}

.container {
  display: flex;
  width: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: 3px solid green;

}

.name {
  display: inline-block;
  border: 2px solid black;
  align-content: center;
  color: #CCD6F6;
}

.headshot {
  justify-content: center;
  border: 2px dashed purple;
  
}